<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>主页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="public/css/index.css" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="shortcut icon" href="public/images/favicon.ico">
	</head>

	<body>
		<!--导航栏-->
		<% include ./common/header.ejs %>
		<!--导航栏结束-->
		
		

		<!--轮播图-->
			<% include ./common/slide.ejs %>
		<!--列表内容-->
		<div class="container">
				<ul class="content-item">
					<div class="row">
						<% for(var i=0;i<worksMsg.length;i++){ %>
						<li class="col-md-3">
						<div class="card">
							<img class="card-img-top" src="<%=worksMsg[i].worksSrc[0]%>" alt="" />
							<div class="card-body">
								<div class="item-user">
									<img src="<%=worksMsg[i].authorHeadImg%>" alt="..." class="rounded-circle">
									<span class="name">发布人：<a href="/user/user_info?userId=<%=worksMsg[i].userId%>"><%=worksMsg[i].author%></a></span>
								</div>
								<hr />
								<h5 class="card-title"><a href="/user/works?worksId=<%=worksMsg[i]._id%>"><%=worksMsg[i].title%></a></h5>
								<p class="card-text"><%=worksMsg[i].content%></p>
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-pinglun"></use>
								</svg><%=worksMsg[i].zan%>
								<span style="margin-left: 1rem;"></span>
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-shoucang"></use>
								</svg><%=worksMsg[i].comment%>
							</div>
							<div class="card-footer">
								<small class="text-muted">发布于：<%=worksMsg[i].time%></small>
							</div>
						</div>
					</li>
					<%  } %>
					</div>
				</ul>
			<div class="clearfix"></div>
			<!--分页-->
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">上一页</a>
					</li>
					<li class="page-item active">
						<a class="page-link " href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">下一页</a>
					</li>
				</ul>
			</nav>
		</div>
		<!--列表内容结束-->

		<!--底部-->
		<% include ./common/footer.ejs %>
		<!--底部结束-->

		<!--返回顶部-->
		<div class="toTop">
			<button class="btn " href="#">
					<a href="#">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-fanhuidingbu1"></use>
						</svg>
					</a>
				</button>
		</div>
		<!--返回顶部结束-->
		<script src="public/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="//at.alicdn.com/t/font_486809_44gfsc9xnzlzyqfr.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!--<script src="public/js/index.js"></script>-->
	</body>

</html>