<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>个人中心</title>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/public/css/personal-center.css" />
	</head>

	<body>

		<!--导航栏-->
		<% include ./common/header.ejs %>
		<!--导航栏结束-->

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="left-menu ">
						<div class="head-img">
							<img src="<%=userInfo.headimgSrc %>" title="点击换头像" class="rounded-circle m-t-xs img-responsive" data-toggle="modal" data-target="#head-img">
							<span><a href="javascript:;"><%=userInfo.userName %></a></span>
						</div>
						<div class="list-group menu-list">
							<a href="/admin/personal_center" class="list-group-item ">
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-shezhi"></use>
								</svg>&nbsp;个人信息
							</a>
							<a href="/admin/my_works" class="list-group-item ">
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-gerenzhongxin1"></use>
								</svg>&nbsp;我的作品
							</a>
							<a href="/admin/like_works" class="list-group-item">
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-shoucang"></use>
								</svg>&nbsp;我的收藏
							</a>
							<a href="/admin/news" class="list-group-item active">
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-tongzhi"></use>
								</svg>&nbsp;我的消息
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-8">
					<div class="right-content">

						<!--我的信息-->
						<div class="my-news ">
							<p>信息列表</p>
							<table class="table table-hover news-list-item">
								<% for(var i=0;i<newsInfo.length;i++){ %>
								<tr class="unread">
									<td class="check-mail">
										<input type="checkbox" class="i-checks" value="<%= newsInfo[i]._id%>">
									</td>
									<td>
										<a href="/user/user_info?userId=<%= newsInfo[i].postId%>">
											<%= newsInfo[i].postName%>
										</a>
									</td>
									<td>
										<a href="javascript:;" data-toggle="modal" data-target="#<%= newsInfo[i]._id%>">
											<%= newsInfo[i].title%>
										</a>
									</td>
									<td class="text-right mail-date">
										<%= newsInfo[i].time%>
									</td>
								</tr>
								
								<!--内容详情模态框-->
								<div class="modal fade" id="<%= newsInfo[i]._id%>" tabindex="-1" role="dialog" aria-labelledby="<%= newsInfo[i]._id%>" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myModalLabel"><%= newsInfo[i].title%></h4>
											</div>
											<div class="modal-body">
												<div><%= newsInfo[i].content%></div>
												<input type="text" value="<%= newsInfo[i].postId%>" class="hidden" id="receiveId"/>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												<button type="button" class="btn btn-primary reply" >回复</button>
												<button type="button" class="btn btn-danger" onclick="delMsg('<%= newsInfo[i]._id%>')">删除</button>
											</div>
										</div>
									</div>
								</div>
								<% } %>
								<!--内容详情模态框结束-->
								<% if(newsInfo.length>0){ %>
								<tr class="unread">
									<td class="check-mail">
										<input type="checkbox" class="" id="allSelected">&nbsp;全选
									</td>
									<td colspan="3">
										<button class="btn btn-white btn-sm" title="刷新"><svg class="icon" aria-hidden="true">
											<use xlink:href="#icon-shuaxin2"></use></svg>
										</button>
										<button class="btn btn-white btn-sm" title="删除" id="delMsg"><svg class="icon" aria-hidden="true">
											<use xlink:href="#icon-shanchu"></use></svg>
										</button>
									</td>
								</tr>
								<%    }else{  %>
									<div style="font-size: 16px;text-align: center;">暂无消息</div>
								<%  }   %>
							</table>
							
							<!--回复模态框-->
							<div class="modal fade" id="replyModel" tabindex="-1" role="dialog" aria-labelledby="replyModel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myModalLabel">回复</h4>
											</div>
											<div class="modal-body">
												<div class="form-group">
													<textarea id="msgValue" class="form-control" rows="10" placeholder="请回复..."></textarea>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
												<button type="button" class="btn btn-primary" id="reply">回复</button>
											</div>
										</div>
									</div>
								</div>
							<!--分页-->
							<% if(newsInfo.length>0){ %>
								<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
									<li class="page-item ">
										<a class="page-link" href="/admin/news?action=pre">上一页</a>
									</li>
									<span style="line-height: 38px;">第<%=page+1%>/<%=pageNumber%>页</span>
									<li class="page-item">
										<a class="page-link" href="/admin/news?action=next">下一页</a>
									</li>
								</ul>
								</nav>
							<%    }  %>
							<!--分页结束-->
						</div>
						<!--我的消息结束-->

						<!--头像模态框-->
						<% include ./common/headimg.ejs %>
						<!--头像模态框结束-->
					</div>
				</div>

			</div>
		</div>
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="//at.alicdn.com/t/font_486809_ebype8x5nfzs38fr.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="/public/js/main.js"></script>
		<script>
			var allSele = false;
			$("#allSelected").on('click',function(){
				allSele = !allSele;
				$(".i-checks").prop("checked",allSele);
			});
			$("#delMsg").on('click',function(){
				var arr = [];
				var checkList = $("input:checkbox:checked");
				for(var i = 0 ;i<checkList.length;i++){
					arr.push(checkList[i].value);
				}
				$.ajax({
					type:'get',
					url: '/user/delmsgs',
					data: {
						idAll: arr
					},
					success: function(data){
						if(data.status==0){
							location.reload();
						}else{
							alert('删除失败！');
						}
					},
					error: function(err){
						console.log(err);
					}
				})
			})
			
		</script>
	</body>

</html>