<div class="footer">
	<ul>
		<li>
			<a href="">关于我们</a>
		</li>
		<li>
			<a href="">共建单位</a>
		</li>
		<li>
			<a href="">联系方式</a>
		</li>
		<li>
			<a href="">友情链接</a>
		</li>
	</ul>
	<p>©2004-2016 教育部中国大学生在线网站 版权所有 京ICP备10028400号-2 京公安网备11010502025664</p>
</div>