<div class="ppt">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<!-- 指示符 -->
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
		</ul>

		<!-- 轮播图片 -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="../../public/images/slide/轮播图1.jpg">
				<!--<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522256171650&di=a9128dfcc6a0ca017373bece769a732a&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dpixel_huitu%252C0%252C0%252C294%252C40%2Fsign%3D867729432ba446236ac7ad22f15a1762%2F37d3d539b6003af3d1d28f593e2ac65c1038b69b.jpg">-->
			</div>
			<div class="carousel-item">
				<img src="../../public/images/slide/轮播图2.jpg">
				<!--<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522256171647&di=d671953e0813fd4baab0cd8d3a14c212&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D624a946508087bf469e15faa9aba3d59%2F0bd162d9f2d3572c6e0037f28013632762d0c33a.jpg">-->
			</div>
			<div class="carousel-item">
				<img src="../../public/images/slide/轮播图3.jpg">
				<!--<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522256171646&di=39b3179891d38d7b47757aab16a028df&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D6a5bf667a3ec8a1300175fa39f6afbfa%2F622762d0f703918f9d9bef425b3d269758eec4f4.jpg">-->
			</div>
		</div>

		<!-- 左右切换按钮 -->
		<a class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>